body {
    font-family: 'Roboto', sans-serif;
}

// .list {
//     list-style: none;
// }

.link {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

