:root {
    --primary-font: 'Roboto', sans-serif;

    --secondary-font: 'Raleway', sans-serif;

    --accent-color: #2196F3;

    --logo-light-them-color: #000000;
    --logo-dark-them-color: #FFFFFF;

    --header-background-color: #FFFFFF;
    --hero-background-color: #C4C4C4;
    --our-advantages-background-color: #FFFFFF;
    --about-us-background-color: #FFFFFF;
    --our-team-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
    --our-team-cards-background-color: #FFFFFF;
    --header-border-color: #ECECEC;

    --header-menu-link-color: #212121;
    --header-contacts-color: #757575;
    --hero-title-color: #FFFFFF;
    --sections-titles-color: #212121;
    --sections-text-color: #757575;
    --footer-text-adress-color: #FFFFFF;
    --footer-text-contacts-color: rgba(255, 255, 255, 0.6);

    --modal-btn-text-color: #FFFFFF;
    --modal-btn-background-hover-color: #188CE8;

    --portfolio-background-btn-color: #F5F4FA;
    --portfolio-background-hover-btn-color: #2196F3;
    --portfolio-cards-background-color: #FFFFFF;
    --portfolio-cards-border-color: #EEEEEE;
    --portfolio-text-btn-color: #212121;
    --portfolio-text-hover-btn-color: #FFFFFF;

    --icon-hover-fill: #FFFFFF;
    --icon-fill: #AFB1B8;
    --icon-fill-second: #000000;
}